body {
  background: linear-gradient(
    70.6deg,
    rgb(172, 30, 255) 0.3%,
    rgb(65, 35, 251) 55.8%,
    rgb(35, 251, 224) 100%
  );
  color: #000000;
  font-family: fantasy;
  min-height: 100vh;
}

.headings {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 70px;
  background: #323030;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

h2 {
  font-size: 40px;
  color: #ffff;
  line-height: 20px;
}
hr {
  border-top: 3px solid darkblue;
  border-bottom: 3px solid skyblue;
  border-left: 3px solid darkblue;
  border-right: 3px solid darkblue;
  border-radius: 5px;
  margin: 0px 100px 0px 100px;
}

img {
  width: 250px;
  margin: 20px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 10px;
}

p {
  text-align: center;
  text-align: justify;
  margin: 50px 50px 50px 50px;
  font-size: 22.5px;
  line-height: 30px;
  font-weight: normal;
}
.lastP {
  text-align: center;
  text-align: justify;
  line-height: 30px;
  margin: 60px 50px 30px 50px;
  padding: 50px;
  font-size: 20px;
}

button {
  display: block;
  padding: 15px 20px;
  margin: 50px auto 30px auto;
  color: black;
  border: 3px solid rgb(26, 0, 128);
  background: radial-gradient(rgb(6, 242, 251) 0%, rgb(72, 12, 242) 100%);
  border-radius: 30px;
  font-size: 25px;
  font-family: fantasy;
  box-shadow: 4px 6px 6px rgb(26, 0, 128);
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: rgb(86, 255, 248);
  background: rgb(0, 0, 0);
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 200px;
}

a {
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 30px;
  padding: 20px;
}

a:visited {
  color: cyan;
}

.link {
  display: block;
  padding: 10px;
  text-align: center;
}
